.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: hsl(0, 0%, 100%);
}


.title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Space Mono', monospace;
}

.title > span {
    text-align: justify;
    letter-spacing: 10px;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

.title > span:first-child {
    letter-spacing: 10px;
}

.custom-tip {
    width: 100%;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.custom-tip > input {
    text-align: center;
    width: 100%;
    color: inherit;
    background-color: inherit;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.custom-tip > input::placeholder {
    text-align: center;
}

.calculator-body {
    display: flex;
    background-color: hsl(189, 41%, 97%);
    width: 375px;
    border-radius: 10px;
    box-shadow: 0px -5px 5px -4px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.calculator-interface {
    display: flex;
    flex-direction: column;
    color: hsl(186, 14%, 43%);
}

label {
    font-family: 'Space Mono', monospace;
}

.wrapper {
    /* width: 100%; */
    padding: 12px 0px;
}

.bill-input-wrapper {
    display: flex;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
}

.bill-total {
    width: 100%;
    background-color: hsl(185, 41%, 84%);
    font-size: 1.2rem;
    font-weight: 800;
    padding: 5px 10px;
    color: hsl(183, 100%, 15%);
}

.bill-total:focus {
    outline: none;
}

.tip-input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.tip-button, .selected-tip-button {
    width: 100%;
    font-family: 'Space Mono', monospace;
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.selected-tip-button {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

/* part of custom-tip */
input:focus::placeholder {
    color: transparent;
}

.end-total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: hsl(183, 100%, 15%);
    color:hsl(172, 67%, 45%);
    border-radius: 10px;
    font-family: 'Space Mono', monospace;
}

.tip-total-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.tip-total-section > .sub > p {
    padding: 0px 5px;
    color: hsl(186, 14%, 43%);
    font-size: .7rem;
}

.tip-total-section > .sub > h4 {
    padding: 0px 5px;
    color: hsl(185, 41%, 84%);
    font-size: .9rem;
}   

.reset-button {
    width: 100%;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .App {
        /* justify-content: center; */
    }
    .calculator-body {
        width: fit-content;
        /* height: fit-content; */
    }

    .calculator-interface {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
}